.col1 {
	background-color: fuchsia;
	color: white;
}

.col2 {
	background-color: hotpink;
	color: white;
}

.nested-col-1 {
	background-color: yellow;
	color: green;
}
.nested-col-2 {
	background-color: orange;
	color: white;
}